@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cal Sans';
	src: url('../assets/fonts/CalSans-SemiBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

:root {
	--transition-standard: cubic-bezier(0, 0, 0.2, 1);
}

.ui-light {
	/* COLORS */
	--color-bg-primary: #f7fafc;
	--color-bg-secondary: #edf2f7;
	--color-bg-contrast: #e2e8f0;
	--color-bg-transparent: #edf2f7a8;
	--color-body-primary: #2d3748;
	--color-body-secondary: #718096;
	--color-cta-primary: #0078ff;
	--color-cta-secondary: #bfc1d3;
	--color-cta-transparent: #0063d1;
}

.ui-dark {
	/* COLORS */
	--color-bg-primary: #1a202c;
	--color-bg-secondary: #2d3748;
	--color-bg-contrast: #171923;
	--color-bg-transparent: #1a202cc0;
	--color-body-primary: rgba(255, 255, 255, 0.92);
	--color-body-secondary: #a0aec0;
	--color-cta-primary: #0078ff;
	--color-cta-secondary: #4a5568;
	--color-cta-transparent: #0063d1;
}

body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.875rem;
	color: var(--color-body-primary);
	background-color: var(--color-bg-primary);
	overflow-x: hidden;
	transition-property: background-color;
	transition-duration: 200ms;
}

h1,
h2,
h3,
.logo {
	font-family: 'Cal Sans', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 1px;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

p {
	color: var(--color-body-secondary);
	line-height: 1.6;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 1.5rem;
}

nav {
	position: fixed;
	z-index: 999;
	width: 100%;
	background-color: var(--color-bg-primary);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav-container {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: inherit;
}

.nav-main {
	flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 4rem;
}

.mobile-nav-toggle {
	display: none;
}

.nav-links {
	margin-left: auto;
	display: flex;
	gap: 2.5rem;
	font-size: 1rem;
}

.nav-social {
	display: flex;
	gap: 1rem;
	margin-right: 4rem;
}

.logo {
	font-size: 1.1rem;
	line-height: 1;
}

.theme {
	order: 1;
}

.logo::after,
.logo::before {
	font-weight: normal;
	color: var(--color-cta-secondary);
}

.logo::before {
	content: '< ';
}

.logo::after {
	content: ' />';
}

.logo:hover {
	cursor: pointer;
}

.nav-links a {
	position: relative;
	color: var(--color-body-primary);
	font-weight: bold;
	text-decoration: none;
	transition: color 300ms var(--transition-standard);
}

.nav-links a::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: -5px;
	left: 0;
	background-color: var(--color-body-secondary);
	transform: scaleX(0);
	transition: transform 300ms var(--transition-standard);
}

.nav-links a:hover::before {
	transform: scaleX(1);
}

.nav-links a:hover {
	color: var(--color-body-secondary);
}

.nav-social svg,
.theme svg {
	fill: var(--color-body-primary);
	transition: fill 300ms var(--transition-standard);
}

.nav-social svg:hover,
.theme svg:hover {
	fill: var(--color-body-secondary);
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.nav-container {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}

	.nav-main {
		position: fixed;
		z-index: 1000;
		inset: 0 0 0 0;
		flex-direction: column;
		justify-content: center;
		background: var(--color-bg-contrast);
		transform: translateX(100%);
		transition: transform 300ms var(--transition-standard);
	}

	.nav-main[data-visible='true'] {
		transform: translateX(0%);
	}

	@supports (backdrop-filter: blur(1rem)) {
		.nav-main {
			background: var(--color-bg-transparent);
			backdrop-filter: blur(1rem);
		}
	}

	.nav-links {
		flex-direction: column;
		align-items: center;
		font-size: 1.2rem;
		margin-left: 0;
	}

	.nav-social {
		margin-right: 0;
	}

	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 6px auto;
		background-color: var(--color-body-primary);
		transition: background-color 300ms var(--transition-standard);
	}

	.bar:nth-child(1).active {
		transform: translateY(0.6rem) rotate(45deg);
	}

	.bar:nth-child(2).active {
		opacity: 0;
	}

	.bar:nth-child(3).active {
		transform: translateY(-0.6rem) rotate(-45deg);
	}

	.theme {
		margin-left: auto;
		margin-right: 2rem;
		order: unset;
	}

	.mobile-nav-toggle {
		padding: 0;
		display: block;
		z-index: 9999;
		border: none;
		background-color: transparent;
		transition: opacity 300ms var(--transition-standard);
	}

	.mobile-nav-toggle:hover {
		opacity: 0.6;
		cursor: pointer;
	}
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero span {
	color: var(--color-cta-primary);
}

.hero-cta {
	display: flex;
	gap: 1rem;
	margin: 2rem 0;
}

.home {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5vh;
	margin-top: 4rem;
	padding-top: 2rem;
}

.hero-image {
	order: 1;
	width: 16rem;
}

.header-content {
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.btn-primary,
.btn-secondary {
	display: inline-block;
	color: var(--color-body-primary);
	font-weight: bold;
	text-decoration: none;
	border-radius: 0.375rem;
	padding: 0.75rem 1.5rem;
	transition: all 300ms var(--transition-standard);
}

.btn-primary {
	color: white;
	background-color: var(--color-cta-primary);
	border: 2px solid transparent;
}

.btn-primary:hover {
	background-color: var(--color-cta-transparent);
}

.btn-secondary {
	border: 2px solid var(--color-cta-secondary);
	background-color: transparent;
}

.btn-secondary:hover {
	border: 2px solid var(--color-body-primary);
}

.btn-small {
	padding: 0.5rem 1.5rem;
	margin-right: 0.25rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

a.anchor {
	display: block;
	position: relative;
	top: -2rem;
	visibility: hidden;
}

section {
	margin-top: 1rem;
}

.section-title {
	padding-top: 3rem;
	position: relative;
	margin-bottom: 1rem;
	text-align: center;
}

.section-title::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -0.3rem;
	left: 0px;
	right: 0px;
	height: 3px;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	background-color: var(--color-cta-primary);
}

.section-header p {
	text-align: center;
	width: 80%;
}

article {
	margin-top: 3rem;
}

article span {
	font-weight: bold;
}

.skills-list {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	margin: 1rem 0;
	gap: 0.5rem;
}

.skill {
	background-color: var(--color-bg-secondary);
	padding: 0.75rem 1.5rem;
	border-radius: 0.375rem;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px inset;
}

.projects-list {
	margin-top: 3rem;
}

.project {
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg-secondary);
	border-radius: 0.375rem;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
		rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	margin-bottom: 2rem;
}

.project-image {
	position: relative;
	width: 100%;
	height: 15rem;
}

.project-image::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.375rem 0.375rem 0px 0px;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 60%,
		rgba(0, 0, 0, 0.5) 100%
	);
}

.project-image img {
	border-radius: 0.375rem 0.375rem 0px 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-content {
	padding: 2rem;
}

.project-content .skills-list {
	gap: 0.25rem;
	margin-top: 0.5rem;
}

.project-content .skill {
	background-color: var(--color-bg-contrast);
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	/* box-shadow: none; */
}

form {
	display: flex;
	flex-direction: column;
}

form div {
	margin-bottom: 1.5rem;
}

form label,
form input,
textarea,
.form-cta {
	display: block;
	width: 100%;
	margin: 0 auto;
}

form input,
textarea {
	border: none;
	border-radius: 0.375rem;
	padding: 0.8rem 1rem;
	background-color: var(--color-bg-secondary);
	color: var(--color-body-primary);
	margin-top: 0.5rem;
	line-height: 1.5;
}

textarea {
	min-height: 8rem;
}

footer {
	background-color: var(--color-bg-contrast);
	margin-top: 4rem;
	padding: 2rem 0;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	margin: 0;
}

.footer-content .logo {
	font-size: 1rem;
}

.copyright {
	font-size: 0.8rem;
}

::placeholder {
	color: var(--color-body-secondary);
}

::-webkit-scrollbar {
	width: 0.7rem;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.375rem;
	background-color: var(--color-body-secondary);
}

::-webkit-scrollbar-track {
	box-shadow: rgb(0 0 0 / 30%) 0px 0px 0.6rem inset;
	background-color: var(--color-cta-secondary);
}

@media screen and (min-width: 480px) {
	.header-content p {
		width: min(60vw, 30rem);
	}
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 2rem;
		line-height: 1;
	}

	nav .container,
	header .container {
		max-width: 992px;
	}

	.row {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: 2rem;
	}

	.col-6 {
		width: 50%;
	}

	.hero {
		background-color: var(--color-bg-contrast);
	}

	.home.row {
		align-items: center;
	}

	.home {
		padding-top: 5rem;
	}

	.hero-image,
	.header-content {
		order: unset;
	}

	.header-content {
		align-items: flex-start;
		justify-content: center;
		text-align: left;
	}

	.header-content p {
		max-width: fit-content;
	}

	.projects-list {
		flex-wrap: wrap;
		align-items: stretch;
	}

	.project {
		width: 47%;
		margin-bottom: 0;
	}

	.project-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.project-cta {
		margin-top: auto;
	}

	form label,
	form input,
	textarea,
	.form-cta {
		max-width: 75%;
		min-width: 75%;
	}

	.footer-content {
		flex-direction: row;
		justify-content: space-between;
	}

	footer .nav-social {
		margin-right: 0;
		gap: 2rem;
	}
}

@media screen and (min-width: 992px) {
	h1 {
		font-size: 2.5rem;
	}

	.header-content p {
		font-size: 1rem;
	}
}
