@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 60 15% 92%;
		--background-secondary: 60 15% 90%;
		--background-tertiary: 60 15% 91%;

		--foreground: 60 1% 13%;
		--foreground-secondary: 60 5% 35%;
		--foreground-inverse: var(--background);

		--brand: 222 89% 55%;
		--brand-secondary: 222 89% 65%;

		--border: 60 1% 13%;
		--border-hue: 60;
		--border-saturation: 1%;
		--border-lightness: 13%;
		--shadow-color: 60deg 10% 66%;
	}

	.dark {
		--background: 216 16% 7%;
		--background-secondary: 220 16% 8%;
		--background-tertiary: 222 15% 9%;

		--foreground: 60 15% 93%;
		--foreground-secondary: 60 3% 65%;
		--foreground-inverse: var(--background);

		--brand: 222 100% 66%;
		--brand-secondary: 222 100% 75%;

		--border: 222 6% 38%;
		--border-hue: 222;
		--border-saturation: 6%;
		--border-lightness: 38%;
		--shadow-color: 220deg 33% 1%;
	}

	::selection {
		background-color: #dbe0f7;
		color: hsl(var(--brand));
	}
	.dark ::selection {
		color: #abc2f7;
		background-color: #0e192f;
	}
}

@layer base {
	html {
		min-width: 340px;
	}
	* {
		@apply box-border border-border/10 dark:border-border/20 scroll-smooth;
		text-rendering: optimizeLegibility;
	}
	body {
		@apply bg-background text-foreground font-sans font-[450] tracking-[0.02em] antialiased leading-relaxed overflow-x-clip;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-medium tracking-tight;
	}
}

/* 	------------
	BLOG STYLES
	-----------	*/
.prose {
	@apply leading-[1.9] tracking-[0.02em] dark:prose-invert text-foreground prose-headings:font-medium prose-headings:text-foreground prose-headings:relative prose-p:text-foreground/80 marker:text-foreground-secondary prose-li:text-foreground/80 prose-ul:text-foreground/80 prose-hr:border-border/10 dark:prose-hr:border-border/20;
}
.prose strong {
	@apply font-[550] text-foreground;
}
.prose blockquote {
	@apply border-brand;
}
.prose .c-link {
	@apply font-[450];
}
.prose figcaption .c-link {
	@apply pb-1 text-foreground-secondary hover:text-foreground;
}

/* Heading anchorlinks */
.prose .anchor {
	@apply absolute w-full no-underline transition duration-150 -left-5 text-foreground-secondary/50 opacity-0;
	cursor: pointer;
}
.prose .anchor:after {
	content: '#';
}
.prose .anchor:hover,
.prose *:hover > .anchor {
	@apply sm:opacity-100 transition duration-150;
}

/* 
	Code blocks 
*/
/* Code block title tab */
figcaption[data-rehype-pretty-code-title] {
	@apply flex items-center border-b rounded-t-xl h-10 py-3 px-4 mt-0 text-sm text-foreground/90 font-medium border-border/10 dark:border-border/20 bg-gradient-to-br from-background-tertiary to-background;
}

/* Code block body */
figure[data-rehype-pretty-code-figure] {
	@apply rounded-xl border border-border/10 dark:border-border/20 shadow-sm;
}
figure[data-rehype-pretty-code-figure] pre {
	@apply overflow-x-auto py-4 px-0 text-sm leading-[26px] tracking-normal rounded-b-xl rounded-t-none bg-background-tertiary;

	--code-foreground: #445175;
	--code-token-constant: #c46891;
	--code-token-string: #3e4d75;
	--code-token-comment: #97a0b5;
	--code-token-keyword: hsl(var(--brand-secondary));
	--code-token-parameter: #c46891;
	--code-token-function: #ac8e4f;
	--code-token-string-expression: #c46891;
	--code-token-punctuation: #445175;
	--code-token-link: hsl(var(--brand-secondary));
}
.dark figure[data-rehype-pretty-code-figure] pre {
	--code-foreground: #bccae7;
	--code-token-constant: #e99abe;
	--code-token-string: #bccae7;
	--code-token-comment: #7b88a1;
	--code-token-keyword: hsl(var(--brand-secondary));
	--code-token-parameter: #e99abe;
	--code-token-function: #f0d88c;
	--code-token-string-expression: #e99abe;
	--code-token-punctuation: #bccae7;
	--code-token-link: hsl(var(--brand-secondary));
}

/* Code block lines */
figure[data-rehype-pretty-code-figure] pre [data-line] {
	@apply border-l-4 border-transparent px-4;
}
figure[data-rehype-pretty-code-figure] pre [data-highlighted-line] {
	@apply bg-brand-secondary/5 border-brand/80;
}

/* Code block line numbers */
code[data-line-numbers] {
	counter-reset: lineNumber;
}
code[data-line-numbers] [data-line]::before {
	@apply inline-block text-right mr-4 text-[#9ca3af]/80;
	counter-increment: lineNumber 1;
	content: counter(lineNumber);
}

/* Inline code */
.prose :not(pre) > code {
	@apply px-1 mx-1 py-0.5 rounded-lg bg-background-tertiary text-[13px] font-[450] border shadow-sm text-brand-secondary;
}
.prose :not(pre) > code::after,
.prose :not(pre) > code::before {
	@apply hidden;
}

/* Callouts */
.callout {
	background-color: rgba(var(--callout), 0.1);
	border-color: rgba(var(--callout), 0.25);
}
.callout[data-callout='info'] {
	--callout: 46, 104, 239;
}
.callout[data-callout='success'] {
	--callout: 83, 113, 61;
}
.callout[data-callout='warning'] {
	--callout: 145, 80, 18;
}
.callout[data-callout='danger'],
.callout[data-callout='bug'] {
	--callout: 165, 63, 71;
}
.dark .callout[data-callout='info'] {
	--callout: 102, 148, 255;
}
.dark .callout[data-callout='success'] {
	--callout: 152, 195, 121;
}
.dark .callout[data-callout='warning'] {
	--callout: 209, 154, 102;
}
.dark .callout[data-callout='danger'],
.dark .callout[data-callout='bug'] {
	--callout: 224, 108, 117;
}

/* 	------------
	COMPONENTS
	-----------	*/
.c-link {
	@apply relative inline-flex items-center gap-x-0.5 no-underline whitespace-nowrap hover:text-brand transition;
}
.c-link::before {
	position: absolute;
	bottom: 0.2em;
	height: 2px;
	width: 100%;
	background-color: hsl(var(--foreground-secondary));
	opacity: 50%;
	content: '';
	transition-property: all;
	transition-duration: 200ms;
}
.c-link:hover::before {
	@apply translate-y-1 transform-gpu;
	background-color: transparent;
}

.button::after {
	z-index: 0;
	overflow: hidden;
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: border-color 0.2s ease 0s, background 0.3s ease 0s,
		transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
	border: 1px solid hsla(var(--border-hue), var(--border-saturation), var(--border-lightness), 0.2);
}

.button:hover::after {
	border-radius: 10px;
	border: 2px solid hsl(var(--brand));
	transform: scale(0.92) translateZ(0);
	transition: border-color 0.2s ease 0s, background 0.3s ease 0s,
		transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
}

.like-btn {
	will-change: box-shadow;
	animation: shadow 1s infinite alternate ease-in-out;
}

@keyframes shadow {
	0% {
		box-shadow: 0px 0px 10px #7aa2ff, 0px 0px 8px #7aa2ff, 0px 0px 4px #6488da, 0px 0px 3px #ffffff;
	}
	100% {
		box-shadow: 0px 0px 30px #7aa2ff, 0px 0px 20px #7aa2ff, 0px 0px 8px #6488da, 0px 0px 5px #ffffff;
	}
}

.opacity-list:hover li,
.opacity-list:hover a {
	opacity: 0.5;
}
.opacity-list li:hover,
.opacity-list a:hover {
	opacity: 1;
}

/* 	------------
	OTHER
	-----------	*/
#gradient-canvas {
	width: 100%;
	height: 100%;
	--gradient-color-1: #3e5ca3;
	--gradient-color-2: #5286ff;
	--gradient-color-3: #7398f0;
	--gradient-color-4: #9cb1e0;
}

@media print {
	.navbar {
		display: none;
	}
}
