@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;

	--color-background: hsl(240 7% 97%);
	--color-background-secondary: hsl(240 10% 95%);

	--color-foreground: hsl(220 20% 11%);
	--color-foreground-secondary: hsl(236 8% 40%);
	--color-foreground-tertiary: hsl(215, 16%, 47%);

	--color-brand: hsl(222 89% 55%);
	--color-border: hsl(210 11% 85%);
}
.dark {
	--color-background: hsl(216 16% 7%);
	--color-background-secondary: hsl(220 16% 9%);

	--color-foreground: hsl(220 15% 93%);
	--color-foreground-secondary: hsl(222 8% 75%);
	--color-foreground-tertiary: hsl(215 12% 65%);

	--color-brand: hsl(222 100% 62%);
	--color-border: hsl(222 12% 14%);
}

@theme {
	--animate-loop: loop 100s linear infinite;
	--animate-scroll: scroll 40s forwards linear infinite;
	--animate-scroll-slow: scroll 100s forwards linear infinite;
	--animate-aurora: aurora 50s forwards linear infinite;
	--animate-slide: slide 0.3s ease-out forwards;
	--animate-slide-slow: slide 0.6s ease-out forwards;
	--animate-flip: flip 6s infinite steps(2, end);
	--animate-rotate: rotate 3s linear infinite both;

	@keyframes loop {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}
	@keyframes scroll {
		to {
			transform: translate(calc(-50% - 0.5rem));
		}
	}
	@keyframes slide {
		0% {
			opacity: 0;
			transform: translateY(75px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes aurora {
		from {
			background-position: 50% 50%, 50% 50%;
		}
		to {
			background-position: 350% 50%, 350% 50%;
		}
	}
	@keyframes flip {
		to {
			transform: rotate(360deg);
		}
	}
	@keyframes rotate {
		to {
			transform: rotate(90deg);
		}
	}
}

@utility container {
	@apply px-4 sm:px-6;
}

@utility no-scrollbar {
	@apply [&::-webkit-scrollbar]:hidden;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-border, currentcolor);
	}
}
::selection {
	background-color: #dbe0f7;
	color: var(--color-brand);
}
.dark ::selection {
	color: #abc2f7;
	background-color: #0e192f;
}

html {
	min-width: 340px;
}
* {
	@apply box-border scroll-smooth;
	text-rendering: optimizeLegibility;
}
body {
	@apply bg-background text-foreground font-sans font-[450] tracking-[0.02em] antialiased leading-7 overflow-x-clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-medium tracking-tight;
}

/* 	------------
	BLOG STYLES
	-----------	*/
.prose {
	@apply dark:prose-invert text-foreground-secondary prose-headings:text-foreground prose-headings:relative marker:text-foreground-secondary prose-hr:border-border;
	@apply prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl;
}
.prose strong {
	@apply font-medium text-foreground;
}
.prose .c-link {
	@apply font-medium;
}
.prose figcaption .c-link {
	@apply pb-1 text-foreground-secondary hover:text-foreground;
}

/* Heading anchorlinks */
.prose .anchor {
	@apply absolute w-fit -left-5 px-2 no-underline transition text-foreground/30 opacity-0;
	cursor: pointer;
}
.prose .anchor:after {
	content: '#';
}
.prose .anchor:hover,
.prose *:hover > .anchor {
	@apply sm:opacity-100 transition -translate-x-3;
}

/* 
	Code blocks 
*/
/* Code block title tab */
figcaption[data-rehype-pretty-code-title] {
	@apply flex items-center border-b rounded-t-xl py-2.5 px-6 mt-0 text-sm text-foreground font-medium bg-background-secondary;
}

/* Code block body */
figure[data-rehype-pretty-code-figure] {
	@apply rounded-xl border shadow-xs;
}
figure[data-rehype-pretty-code-figure] pre {
	@apply font-mono overflow-x-auto py-4 px-0 text-sm leading-[26px] tracking-normal rounded-b-xl rounded-t-none bg-background-secondary 
		[&::-webkit-scrollbar]:h-2
		[&::-webkit-scrollbar-thumb]:rounded-xl
		[&::-webkit-scrollbar-thumb]:bg-gray-300
		dark:[&::-webkit-scrollbar-thumb]:bg-foreground-secondary/80;

	--code-foreground: #445175;
	--code-token-constant: #ef3997;
	--code-token-string: #3e4d75;
	--code-token-comment: #97a0b5;
	--code-token-keyword: var(--color-brand);
	--code-token-parameter: #ef3997;
	--code-token-function: #e49000;
	--code-token-string-expression: #ef3997;
	--code-token-punctuation: #445175;
	--code-token-link: var(--color-brand);
}
.dark figure[data-rehype-pretty-code-figure] pre {
	--code-foreground: #bccae7;
	--code-token-constant: #ff64aa;
	--code-token-string: #bccae7;
	--code-token-comment: #7b88a1;
	--code-token-keyword: #6593fe;
	--code-token-parameter: #ff64aa;
	--code-token-function: #efcd5d;
	--code-token-string-expression: #ff64aa;
	--code-token-punctuation: #bccae7;
	--code-token-link: #6593fe;
}

/* Code block lines */
figure[data-rehype-pretty-code-figure] pre [data-line] {
	@apply border-l-2 border-transparent px-4;
}
figure[data-rehype-pretty-code-figure] pre [data-highlighted-line] {
	@apply bg-brand/5 border-brand/80;
}

/* Code block line numbers */
code[data-line-numbers] {
	counter-reset: lineNumber;
}
code[data-line-numbers] [data-line]::before {
	@apply inline-block text-right mr-4 text-[#9ca3af]/80;
	counter-increment: lineNumber 1;
	content: counter(lineNumber);
}

/* Inline code */
.prose :not(pre) > code {
	@apply font-mono px-1.5 mx-0.5 py-0.5 rounded-md bg-background-secondary text-sm font-[450] border shadow-xs text-brand;
}
.prose :not(pre) > code::after,
.prose :not(pre) > code::before {
	@apply hidden;
}

/* 	------------
	COMPONENTS
	-----------	*/
@utility c-link-border {
	content: '';
	position: absolute;
	bottom: 0.2em;
	height: 1.5px;
	width: 100%;
	background-color: --alpha(var(--color-foreground-secondary) / 30%);
	transition-property: all;
	transition-duration: 200ms;
}

.button::after {
	z-index: 0;
	overflow: hidden;
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: border-color 0.2s ease 0s, background 0.3s ease 0s,
		transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
}

.button:hover::after {
	border-radius: 10px;
	border: 2px solid var(--color-brand);
	transform: scale(0.92) translateZ(0);
	transition: border-color 0.2s ease 0s, background 0.3s ease 0s,
		transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
}

.opacity-list:hover li,
.opacity-list:hover a {
	@apply transition-opacity;
	opacity: 0.5;
}
.opacity-list li:hover,
.opacity-list a:hover {
	opacity: 1;
}

@media print {
	.navbar {
		display: none;
	}
}
